p {
    font-family: "Times New Roman", Times, serif;
}

.center {
    text-align: center;
}

th, td {
    padding: 5px;
    horizontal-align: center;
    vertical-align: top;
    text-align: right;
    font-size:large;
    border: 1px solid black;
}     /* Don't center table cells  */

.output {
    color: red;
    font-weight: bold;
    font-size:large;
}

input       {
              text-align: right;       /* Align input to the right  */
              border: none;
              border-radius: 20px 20px 20px 20px;
              padding: 5px  5px;
              font-size:large;       }

body {
    padding: 50px;
    background-color:#b0c4de;  /* blue */
 font-size:large;
 font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
}

h1 {
    font-weight: normal;
    font-family: "Brush Script MT", cursive;
    background: #3C5681;
    padding: 5px 15px;
    color: white;
    display:inline-block;
    border-radius: 10px 10px 10px 10px;
}