p {
    padding-left: 25%;
    padding-right: 25%;
    font-family: "Times New Roman", Times, serif;
}

.center {
    text-align: center;
}

.toogle {
    /* display: none; */
}

.btn {
    border: none;
    border-radius: 20px 20px 20px 20px;
    padding: 5px  5px;
}

table {
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

th, td {
    padding: 14px;
    horizontal-align: center;
    vertical-align: center;
    text-align: right;
    font-size:large;
    /*border: 1px dotted black;*/
}     /* Don't center table cells  */

.output {
    color: red;
    font-weight: bold;
    font-size:large;
}

input {
    text-align: right;       /* Align input to the right  */
    border: none;
    border-radius: 20px 20px 20px 20px;
    padding: 5px  5px;
    font-size:large;
}

body {
    padding: 50px;
    background-color:#ebd2c9;  /* blue */
    font-size:large;
    font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
}

h1 {
    font-weight: normal;
    font-family: "Brush Script MT", "Arial", cursive;
    background: #bf3636;
    padding: 0px 95px;
    color: white;
    display:inline-block;
    border-radius: 100px 0px 100px 0px;
}

#footerBar {
    height: 40px;
    border: dashed 3px rgb(222, 151, 87);
    background:#bf6037;
}

#headerBar {
    height: 40px;
    border: dashed 3px rgb(222, 151, 87);
    background:#bf6037;
}
